<div class="row">
<div class="col-sm-8 offset-sm-2">
{{#each results}}
<div class="card">
<div class="card-header">
Author: {{author}}
</div>
<div class="card-body">
<h5 class="card-title"><strong><u>{{title}}</u></strong></h5>
<p class="card-text">{{desc}}</p>
<a class ="btn btn-secondary" href="{{link}}" target="_blank" role="button">Go to Article</a>
<button type="button" class="btn btn-secondary comment-btn" value="{{id}}">Comment</button>
</div>
</div>
{{/each}}
</div>
</div>